<div class="container border border-primary p-md-3 mt-5">

    <div class="col text-right">
        <button type="button" (click)="cerrarSesion()" class="btn btn-outline-dark align-self-center">Cerrar Sesión</button>
    </div>

    <h1 class="text-center">¡Gracias!</h1>

    <img src="assets/images/logged-out.png" width="30%" class="rounded mx-auto d-block" alt="Imagen de talleres">

    <br><br>

    <div class="col text-center">
        <h3>El taller favorito entre los estudiantes:</h3>
        <br>
        <h1>{{taller | uppercase}}</h1>
    </div>


</div>