<div class="container border border-primary p-md-3 mt-5">

    <div class="col text-center p-md-5">
        <h4>Lee las siguientes preguntas para identificar el taller que mejor se alinea a sus preferencias.
        </h4>
    </div>

    <div class="col text-center p-md-4 border border-dark">
        <form class="align-items-center">
            <div *ngFor="let pregunta of preguntasArr">
                <div class="form-group col text-center">
                    <label for="staticEmail" class="col-sm-auto col-form-label"><h5>{{ pregunta.pregunta }}</h5></label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1"><b>Sí</b></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2"><b>No</b></label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                    <label class="form-check-label" for="inlineCheckbox3">Tal vez</label>
                </div>
            </div>

            <br>
            <div class="col text-right">
                <button type="button" class="btn btn-outline-dark align-self-center">Enviar</button>
            </div>

        </form>
    </div>

</div>