<div class="container border border-primary p-md-3 mt-5">
    <!--<span class="border border-primary" style="width: 100%; height: 100%;">-->

    <!--HOLA MUNDO-->
    <!--<img src="assets/images/icons/icon-google.png" class="img-fluid" alt="Responsive image">-->
    <img src="assets/images/mirage-uploading.png" width="30%" class="rounded mx-auto d-block" alt="Imagen de talleres">

    <h1 class="text-center">¡Bienvenido!
        <!--<span class="badge badge-secondary text-center">¡Bienvenido!</span>--></h1>
    <!--//https://iconos8.es-->
    <br><br>
    <div class="col text-center">
        <button type="button" class="btn btn-outline-dark align-self-center">Empezar</button>
    </div>


    <!--</span>-->

</div>